<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="admin/layout :: header"></head>
</head>

<body class="">
<div class="wrapper ">
    <div th:replace="admin/layout :: sidebar"></div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav  th:replace="admin/layout :: navbar"></nav>
        <!-- End Navbar -->
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Partner</h4>
                            <button class="btn btn-primary btn-simple btn-round right" type="button" data-toggle="modal"
                                    style="alignment: right" id="bt_add_partner">Add
                            </button>
                            <button class="btn btn-primary btn-simple btn-round right" type="button" data-toggle="modal"
                                    style="alignment: right" id="bt_compact">Compact
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="myTable">
                                    <thead>
                                    <tr>
                                        <th th:text=#{partner.company_name}></th>
                                        <th th:text=#{partner.capital}></th>
                                        <th th:text=#{partner.founded}></th>
                                        <th th:text=#{partner.number_of_employees}></th>
                                        <th th:text=#{partner.home_page}></th>
                                        <th th:text=#{partner.phone_number}></th>
                                        <th th:text=#{partner.email}></th>
                                        <th th:text=#{partner.business_content}></th>
                                        <th th:text=#{partner.achievement}></th>
                                        <th th:text=#{partner.rating}></th>
                                        <th th:text=#{partner.action}></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="partner : ${partners}">
                                        <td th:text="${partner.CompanyName}"></td>
                                        <td th:text="${partner.Capital}"></td>
                                        <td th:text="${{partner.Founded}}"></td>
                                        <td th:text="${partner.NumberOfEmployees}"></td>
                                        <td th:text="${partner.HomePage}"></td>
                                        <td th:text="${partner.PhoneNumber}"></td>
                                        <td th:text="${partner.Email}"></td>
                                        <td th:text="${partner.BusinessContent}">/td>
                                        <td th:text="${partner.Achievement}"></td>
                                        <td th:text="${partner.Rating}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="admin/layout :: footer"></footer>
    </div>
</div>

<!--   Core JS Files   -->
<div th:replace="admin/layout :: core-js"></div>
<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        var compact = true;
        var table = $('#myTable').DataTable();
        // $('#example tbody').on( 'click', 'tr', function () {
        //     $(this).toggleClass('selected');
        //     $(this).toggleClass('active');
        // } );
        $('#bt_add_partner').click(function (e) {
            $('#partner_modal').modal('show');
            $('.modal').removeData();
            alert('fuck uo');
        })
        $('.bt_edit_partner').click(function (e) {
            $('#partner_modal').modal('show');
            // console.log($(this).closest('tr'))
            var tableData = $(this).closest('tr').children("td").map(function () {
                return $(this).text();
            }).get();

        })
        $('#bt_compact').click(function (e) {
            //toogle the button class
            $(this).toggleClass('btn-simple');
            // Get the column API object
            // Toggle the visibility
            table.column(3).visible(!table.column(3).visible());
            table.column(4).visible(!table.column(4).visible());
            table.column(5).visible(!table.column(5).visible());
        });
    });
</script>
</body>

</html>